<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gotcha.www.workList.dao.WorkListDAO">

    <!-- Control Lists -->
    <!-- select ListId -->
    <select id="selectListId" resultType="Integer">
        select list_seq.nextval
        from dual
    </select>

    <!-- select List -->
    <select id="selectList" parameterType="int"
            resultType="com.gotcha.www.workList.vo.ListVO">
        select *
        from gc_list
        where ws_id = #{ws_id}
    </select>

    <insert id="insertList"
            parameterType="com.gotcha.www.workList.vo.ListVO">
        insert into GC_LIST
            (LIST_ID, LIST_NAME, WS_ID, POSITION)
        VALUES (#{list_id}, #{list_name}, #{ws_id}, #{position})
    </insert>

    <update id="updateList">
        update GC_LIST
        set LIST_NAME = #{list_name}, POSITION=#{position}
        where LIST_ID = #{list_id}
    </update>

    <delete id="deleteList" parameterType="int">
        delete
        from GC_LIST
        where LIST_ID = #{list_id}
    </delete>

    <select id="selectCardId" resultType="int">
        select CARD_SEQ.nextval
        from dual
    </select>

    <select id="selectLastCardId" resultType="int">
        select max(card_id)
        from gc_card
    </select>

    <select id="selectCard" parameterType="String"
            resultType="com.gotcha.www.workList.vo.CardVO">
        select *
        from gc_card
        where ws_id = #{ws_id}
    </select>

    <!-- insert Card (list_id, ws_id, card_start_date, card_end_date 받아옴) -->
    <insert id="insertCard"
            parameterType="com.gotcha.www.workList.vo.CardVO"
            keyProperty="card_id" keyColumn="card_id">
        insert into gc_card
        (CARD_ID,
         CARD_NAME,
         LIST_ID,
         WS_ID,
         CARD_ISDONE,
         CARD_START_DATE,
         CARD_END_DATE,
         POSITION,
         CARD_DESC)
        values (#{card_id},
                #{card_name},
                #{list_id},
                #{ws_id},
                0,
                #{card_start_date,jdbcType=VARCHAR},
                #{card_end_date,jdbcType=VARCHAR},
                #{position},
                #{card_desc,jdbcType=VARCHAR})
    </insert>

    <!-- update Card (list_id, ws_id, card_start_date, card_end_date 받아옴) -->
    <update id="updateCard">
        update gc_card
        set card_name       = #{card_name},
            card_desc       = #{card_desc,jdbcType=VARCHAR},
            list_id         = #{list_id},
            ws_id           = #{ws_id},
            card_isdone     = #{card_isdone,jdbcType=CHAR},
            card_start_date = #{card_start_date,jdbcType=VARCHAR},
            card_end_date   = #{card_end_date,jdbcType=VARCHAR},
            POSITION        = #{position}
        where card_id = #{card_id}
    </update>

    <!-- delete Card -->
    <delete id="deleteCard" parameterType="Integer">
        delete
        from gc_card
        where card_id = #{card_id}
    </delete>

    <select id="selectCardList" parameterType="Integer"
            resultType="com.gotcha.www.workList.vo.CardVO">
        select *
        from gc_card
        where list_id = #{list_id}
    </select>

    <select id="selectOneCard" parameterType="int"
            resultType="com.gotcha.www.workList.vo.CardVO">
        select *
        from GC_CARD
        where CARD_ID = #{card_id}
    </select>

</mapper>