<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gotcha.www.workList.dao.WorkListDAO">

	<!-- Control Lists -->

	<!-- select List -->
	<select id="selectList" parameterType="String"
		resultType="com.gotcha.www.workList.vo.ListVO">
		select * from gc_list
		where
		ws_id = #{ws_id}
	</select>

	<!-- insert List (ws_id 받아옴) -->
	<insert id="insertList"
		parameterType="com.gotcha.www.workList.vo.ListVO"
		keyProperty="list_id" keyColumn="list_id">
		insert into gc_list
		values
		(list_seq.nextval,#{list_name},#{ws_id})
	</insert>

	<!-- update List (list_id는 받아옴) -->
	<update id="updateList"
		parameterType="com.gotcha.www.workList.vo.ListVO">
		update gc_list
		set list_name = #{list_name},
		ws_id =
		#{ws_id}
		where list_id = #{list_id}
	</update>

	<!-- delete List (list_id 받아옴) -->
	<delete id="deleteList">
		delete from gc_list
		where list_id = #{list_id}
	</delete>


	<!-- Control Cards -->
	<!-- select Card -->
	<resultMap type="map" id="CardList">

		<result property="card_desc" column="card_desc" jdbcType="CLOB"
			javaType="java.lang.String" />

	</resultMap>

	<select id="selectCard" parameterType="String"
		resultType="com.gotcha.www.workList.vo.CardVO" resultMap="CardList">

		select * from
		gc_card
		where
		ws_id = #{ws_id}

	</select>

	<!-- insert Card (list_id, ws_id, card_start_date, card_end_date 받아옴) -->
	<insert id="insertCard"
		parameterType="com.gotcha.www.workList.vo.CardVO" 
		keyProperty="card_id" keyColumn="card_id">
		insert into gc_card
		values
		(card_seq.nextval,#{card_name},#{card_desc,jdbcType=CLOB},#{list_id},#{ws_id},0,#{card_start_date,jdbcType=VARCHAR},#{card_end_date,jdbcType=VARCHAR})
	</insert> 
	
	<!-- update Card (list_id, ws_id, card_start_date, card_end_date 받아옴) -->
	<update id="updateCard">
		update gc_card
		set card_name = #{card_name},
		card_desc = #{card_desc,jdbcType=CLOB},
		list_id = #{list_id},
		ws_id = #{ws_id},
		card_isdone = #{card_isdone},
		card_start_date = #{card_start_date,jdbcType=VARCHAR},
		card_end_date = #{card_end_date,jdbcType=VARCHAR}
		where card_id = #{card_id}
	</update>

	<!-- delete Card -->
	<delete id="deleteCard">
		delete from gc_card
		where card_id = #{card_id}
	</delete>

	<select id="selectCardList" parameterType="Integer" resultType="com.gotcha.www.workList.vo.CardVO"> 
		select * from gc_card where list_id = #{list_id} </select>

</mapper>