<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gotcha.www.card.dao.CardActDAO">

    <select id="selectActId" resultType="int">
        select ACT_SEQ.nextval
        from DUAL
    </select>
    
    <select id="selectCardAct"
            parameterType="int"
            resultType="com.gotcha.www.card.vo.CardActDTO"
    >
        select *
        from GC_CARD_ACT
        where CARD_ID = #{card_id}
        order by created_date desc
          
    </select>
    <delete id="deleteCardAct" parameterType="int">
        delete
        from GC_CARD_ACT
        where ACT_ID = #{act_id}
    </delete>
    
    <insert id="insertCardAct"
            parameterType="com.gotcha.www.card.vo.CardActDTO">
        insert into GC_CARD_ACT(CARD_ID, ACT_ID, USER_ID, ACT_DESC, CREATED_DATE, ISLOG, ISEDIT)
        VALUES (#{card_id}, #{act_id}, #{user_id}, #{act_desc}, #{created_date}, #{islog}, '0')
    </insert>
    
    <update id="updateCardAct"
            parameterType="com.gotcha.www.card.vo.CardActDTO">
        update GC_CARD_ACT
        set CARD_ID      = #{card_id},
            USER_ID      = #{user_id},
            ACT_DESC     = #{act_desc},
            CREATED_DATE = sysdate,
            ISLOG        = #{islog},
            ISEDIT       = 1
        where ACT_ID = #{act_id}
    </update>
</mapper>