<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gotcha.www.card.dao.CardTodoDAO">
    <select
            id="selectTodoId"
            resultType="Integer"
    >
        select TODO_SEQ.nextval from dual
    </select>
    <select
            id="selectCardTodo"
            parameterType="int"
            resultType="com.gotcha.www.card.vo.CardTodoDTO"
    >
        select *
        from GC_CARD_TODO
        where CARD_ID = #{card_id}
    </select>

    <select id="todoCount" parameterType="int" resultType="int">
        select count(*)
        from GC_CARD_TODO
        where CARD_ID = #{card_id}
    </select>

    <insert id="insertCardTodo" parameterType="com.gotcha.www.card.vo.CardTodoDTO">
        insert into GC_CARD_TODO(todo_id,
                                 todo_name,
                                 card_id,
                                 todo_start_date,
                                 todo_end_date,
                                 todo_isdone)
        values (#{todo_id},
                #{todo_name},
                #{card_id},
                #{todo_start_date,jdbcType=VARCHAR},
                #{todo_end_date,jdbcType=VARCHAR},
                0)
    </insert>

    <delete id="deleteCardTodo" parameterType="int">
        delete
        from GC_CARD_TODO
        where TODO_ID = #{todo_id}
    </delete>

    <update id="updateCardTodo" parameterType="com.gotcha.www.card.vo.CardTodoDTO">
        update GC_CARD_TODO
        set CARD_ID         = #{card_id},
            TODO_NAME       = #{todo_name},
            TODO_START_DATE = #{todo_start_date,jdbcType=VARCHAR},
            TODO_END_DATE   = #{todo_end_date,jdbcType=VARCHAR},
            TODO_ISDONE     = #{todo_isdone,jdbcType=CHAR}
        where TODO_ID = #{todo_id}
    </update>
</mapper>