<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gotcha.www.card.dao.CardFileDAO">
	<select id="selectFileId" resultType="int">
		select FILE_SEQ.nextval
		from DUAL
	</select>
	<select id="selectCardFile" parameterType="int"
		resultType="com.gotcha.www.card.vo.CardFileDTO">
		select *
		from GC_CARD_FILE
		where CARD_ID = #{card_id}
	</select>
	<select id="fileCount" parameterType="int" resultType="int">
		select
		count(*)
		from GC_CARD_FILE
		where CARD_ID = #{card_id}
	</select>

	<delete id="deleteCardFile" parameterType="int">
		delete
		from
		GC_CARD_FILE
		where FILE_ID = #{file_id}
	</delete>

	<insert id="insertCardFile"
		parameterType="com.gotcha.www.card.vo.CardFileDTO">
		insert into GC_CARD_FILE(CARD_ID, FILE_ID, FILE_NAME,FILE_PATH
		,FILE_ISCHECKED)
		VALUES (#{card_id}, #{file_id}, #{file_name},#{file_path,jdbcType=VARCHAR},0)
	</insert>

	<update id="updateCardFile"
		parameterType="com.gotcha.www.card.vo.CardFileDTO">
		update GC_CARD_FILE set FILE_ISCHECKED =
		#{file_ischecked}
		where FILE_ID = #{file_id}
	</update>

</mapper>