<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gotcha.www.card.dao.CardTodoDAO">
    <select
            id="selectCardTodo"
            parameterType="int"
            resultType="com.gotcha.www.card.vo.CardTodoDTO"
    >
        select *
        from GC_CARD_TODO
        where CARD_ID=#{card_id}
    </select>
    <insert id="insertCardTodo" parameterType="com.gotcha.www.card.vo.CardTodoDTO">
        insert into GC_CARD_TODO(todo_id,
                                 todo_name,
                                 card_id,
                                 todo_start_date,
                                 todo_end_date,
                                 todo_isdone)
        values (#{todo_id},
                #{todo_name},
                #{card_id},
                #{todo_start_date},
                #{todo_end_date},
                #{todo_isdone})
    </insert>
    
    <update id="updateTodoIsDone" parameterType="com.gotcha.www.card.vo.CardTodoDTO">
			UPDATE gc_card_todo
			set todo_isdone = #{todo_isdone}
			where todo_id = #{todo_id}
	</update>
</mapper>