<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gotcha.www.user.dao.UserDAO">
	
	<select id="checkId" parameterType="String" resultType="int">
		SELECT count(user_id) 
		FROM gc_user 
		WHERE user_id = #{user_id}
	</select>

	<insert id="insertUser" parameterType="userVO">
		INSERT INTO gc_user 
		VALUES(#{user_id}, #{user_pwd}, 0, #{user_name}, null)
	</insert>
	
	<update id="updateEnabled" parameterType="String">
		UPDATE gc_user 
		SET user_enabled = 1 
		WHERE user_id = #{user_id}
	</update>
</mapper>