<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gotcha.www.home.dao.HomeDAO">
	<select id="selectWorkspace"
			parameterType="String"
			resultType="com.gotcha.www.home.vo.WorkspaceDto">
		SELECT UR.IS_FAV, W.WS_ID, W.WS_NAME, W.WS_ISIMAGE, R.ROLE_ID, R.ROLE_TYPE
		from GC_USER_ROLE UR
		INNER JOIN GC_USER U
		ON (U.user_id = UR.user_id)
		INNER JOIN GC_ROLE R 
		ON (R.role_id = UR.role_id) 
		INNER JOIN GC_WS W 
		ON(W.WS_ID = UR.WS_ID)
		WHERE UR.USER_ID=#{user_id}
	</select>

<!-- 	<resultMap id="NotiList" type="HashMap">
		<result property="ws_id" column="ws_id" />
		<result property="user_id" column="user_id" />
		<result property="ws_name" column="ws_name" />
		<result property="noti_type" column="noti_type" />
		<result property="noti_desc" column="noti_desc" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="noti_checked" column="noti_checked" />
	</resultMap> -->

	<select id="selectNoti" parameterType="String" resultType="com.gotcha.www.home.vo.NotiJoinVO">
		SELECT w.ws_id, w.ws_name, n.noti_type, n.noti_desc, n.noti_time, n.noti_checked
		FROM gc_noti n
		JOIN gc_ws w ON w.ws_id = n.ws_id
		JOIN gc_noti_user nu ON nu.noti_id = n.noti_id
		WHERE nu.user_id= #{user_id}
	</select>
	
	<update id="updateFav" parameterType="com.gotcha.www.home.vo.WorkspaceDto">
			UPDATE gc_user_role
			set is_fav = #{is_fav}
			where ws_id = #{ws_id} and user_id = #{user_id}
	</update>
	
	<select id="selectWsUserList" parameterType="int" resultType="String">
		select user_id from gc_user_role where ws_id = #{ws_id}
	</select>
	
	<select id="getWsLastIndex" resultType="int">
		SELECT LAST_NUMBER
		FROM USER_SEQUENCES 
		WHERE SEQUENCE_NAME = 'WS_SEQ'
	</select>
	
	<select id="getWsNextIndex" resultType="int">
		SELECT ws_seq.nextval
		FROM dual
	</select>
	
	<select id="getAllUserId" parameterType="com.gotcha.www.home.vo.InviteMemberVO" resultType="String">
		SELECT user_id 
		FROM gc_user
		<if test="emailList == null">
		WHERE user_id != #{user_id}
		</if>
		<if test="emailList != null">
		WHERE user_id NOT IN (
        <foreach collection="emailList" item="item" separator=",">
            #{item}
        </foreach> )
        </if>
	</select>
	
	<select id="preFileName" parameterType="int" resultType="String"> 
		SELECT ws_isImage
		FROM gc_ws
		WHERE ws_id = #{ws_id}
	</select>
	
	<insert id="createWorkspace" parameterType="HashMap">
		INSERT INTO GC_WS (ws_id, ws_name, ws_isimage)
		VALUES(#{ws_id}, #{ws_name}, #{ws_isImage, jdbcType=VARCHAR})
	</insert>
	
	<insert id="setRoleAdmin" parameterType="HashMap">
		INSERT INTO GC_USER_ROLE
		VALUES(#{ws_id}, #{user_id}, 1, 0)
	</insert>
	
	<insert id="setRoleMember" parameterType="HashMap">
		INSERT INTO GC_USER_ROLE
		VALUES(#{ws_id}, #{user_id}, 2, 0)
	</insert>
	
	<insert id="addMember" parameterType="String">
		INSERT INTO GC_USER_ROLE
		VALUES(#{ws_id}, #{user_id}, 2, 0)
	</insert>
	
	<update id="updateWsName" parameterType="com.gotcha.www.home.vo.WorkspaceDto">
		UPDATE gc_ws 
		SET ws_name = #{ws_name}
		WHERE ws_id = #{ws_id}
	</update>
	
	<update id="updateFileName" parameterType="HashMap">
		UPDATE gc_ws 
		SET ws_isImage = #{ws_isImage}
		WHERE ws_id = #{ws_id}
	</update>
	
	<delete id="deleteMember" parameterType="HashMap">
		DELETE gc_user_role
		WHERE ws_id = #{ws_id} and user_id = #{user_id}
	</delete>
	
</mapper>
