<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gotcha.www.board.dao.BoardDAO">
	<select id="getBoardId" parameterType="int" resultType="int">
		select
		BOARD_SEQ.nextval from dual
	</select>

	<select id="selectBoard" parameterType="int"
		resultType="com.gotcha.www.board.vo.BoardVO">
		select id, board_title, board_content, user_id, board_reg_time, board_mod_time
		from gc_board
		where ws_id = #{ws_id}
	</select>
	
	<select id="selectBoardById" parameterType="int" resultType="com.gotcha.www.board.vo.BoardVO">
		select *
		from gc_board
		where id = #{id}
	</select>

	<!-- insert Board -->
	<insert id="insertBoard"
		parameterType="com.gotcha.www.board.vo.BoardVO">
		insert into gc_board(id,board_title, user_id,
		board_reg_time,ws_id,board_content)
		values(#{id},#{board_title},#{user_id},#{board_reg_time},#{ws_id},#{board_content})
	</insert>

	<!-- update Board -->
	<update id="updateBoard"
		parameterType="com.gotcha.www.board.vo.BoardVO">
		update gc_board
		set board_title = #{board_title},
		board_mod_time = #{board_mod_time,jdbcType=VARCHAR},
		board_content =
		#{board_content}
		where id = #{id}
	</update>

	<!-- delete Board -->
	<delete id="deleteBoard" parameterType="Integer">
		delete
		from gc_board
		where
		id = #{id}
	</delete>

</mapper>
